body{
    background-color: whitesmoke;
    display:list-item;
    font-size: 250%;
}

#counter{
    font-size: 250%;
    color: blue;
    display: flex;
    justify-content: center;
}

#valor{
    font-size: 250%;
    color: black;
    display: flex;
    justify-content: center;
}

#botones{
    display: flex;
    justify-content: center;
}

#boton-sumar{
    background: #000;
    color:white;
}
#boton-restar {
    background: #000;
    color: white;
}
#boton-reset {
    background: #000;
    color: white;
}